nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
}

.h1Logo {
  padding: 0.8rem;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3rem;
  color: #fbcb30;
  font-weight: 700;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  background-color: #8253b6;
  padding: 0.6em 1.2em;
  border-radius: 0.5rem;
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav ul li a:hover {
  color: #8253b6;
  background-color: #fbcb30;
}

.butonDark {
  margin: 0px;
  background-color: #f1f1f1;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.butonDark:hover {
  color: #f1f1f1;
  background-color: black;
  border: none;
  transition: 1000ms;
}

nav h1 {
  color: #8253b6;
}

.img-logo {
  border-radius: 2rem;
  border: 5px solid #8253b6;
  height: 34rem;
  width: 25rem;
}

.logobolites {
  height: 3rem;
  width: 3rem;
}

.section-desc-logo {
  padding: 3rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.button-sec {
  display: flex;
  gap: 2rem;
}

.button-sec button {
  color: #8253b6;
  border: none;
  background-color: #fbcb30;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-sec button:hover {
  background-color: #8253b6;
  color: #fbcb30;
  border: none;
  transition: 1000ms;
}

.desk {
  width: 600px;
}

.desk h2 {
  font-size: 3.5rem;
  width: 550px;
  margin: 0;
  line-height: 1.2em;
}

.desk p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.nutricional {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.nutriDiv {
  padding: 3rem;
  background-color: #8253b6;
  border-radius: 0.5rem;
  justify-content: center;
  text-align: center;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nutriDiv span {
  font-size: 2rem;
  color: #49b83c;
}

.nutriDiv p {
  font-size: 1.5rem;
  color: #f1f1f1;
}

.ingredientes {
  margin-top: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.ingredientes-div {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.ingredientes-div video {
  border: 5px solid #8253b6;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sections-nutris {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  padding: 16rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.nutris {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: #fbcb30;
  border-radius: 1rem;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nutris h2 {
  color: #000;
}

.nutri-insta {
  text-decoration: none;
  color: #000;
  font-size: 3rem;
}

.nutri-insta:hover {
  color: #8253b6;
  transform: scale(1.1);
}

footer {
  box-sizing: border-box;
  color: black;
  padding: 0.3rem;
  margin: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8253b6;
  margin: 0;
  padding: 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer p {
  margin: 0.6rem;
}

.contato {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  color: #000;
}

.contato form {
  display: flex;
  flex-direction: column;
  width: 19rem;
  gap: 1rem;
}

.contato form input {
  background: none;
  border-radius: 0.2rem;
  border: none;
  padding: 1rem;
  color: #000;
  border: 2px solid #8253b6;
}

.contato form button {
  background-color: #8253b6;
  border: none;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 0.2rem;
}

.photos {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.sections-photos {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  align-items: center;
  justify-content: center;
  color: #000;
  gap: 1rem;
}

.sections-photos h4 {
  font-size: 2rem;
  margin: 2rem;
}

.photos img {
  border: 5px solid #fbcb30;
}

.photos img:hover {
  transform: scale(1.1);
}

.contato-form {
  height: 10rem;
}

.rotulagem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rotulagem img {
  width: 12rem;
  height: 12rem;
}

.ingrerotu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ingrelista {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: center;
  border-radius: 0.4rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.rotulagem img:hover {
  transform: scale(1.1);
}

.photos img {
  width: 350px;
  height: 400px;
}

@media (max-width: 968px) {
  nav {
    flex-direction: column;
    gap: 3rem;
  }

  nav ul {
    gap: 1rem;
    font-size: 0.7rem;
    font-weight: 400;
  }
  .img-logo {
    height: 20rem;
    width: 15rem;
  }

  .desk h2 {
    font-size: 2.5rem;
    width: 450px;
    margin: 0;
    line-height: 1.2em;
  }

  .desk {
    width: 300px;
  }

  .section-desc-logo {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .nutricional {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .ingredientes-div {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .ingredientes-div video {
    height: 170px;
    width: 300px;
  }

  .ingrelista {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .rotulagem {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .photos {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .sections-nutris {
    padding: 1rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  .sections-photos {
    margin-top: 3rem;
    text-align: center;
  }

  .ingredientes {
    margin-top: 5rem;
  }
  .nutris {
    padding: 0.6rem;
    margin-top: 2rem;
  }
  .nutris h2 {
    font-size: 1rem;
  }

  .nutri-insta {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .nav ul {
    gap: 1rem;
  }
}
